#title {
  text-align: center;
  font-family: arial, sans-serif;
}

#lessons {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#lessons td,
#students th {
  border: 1px solid #ddd;
  padding: 8px;
}

#lessons tr:nth-child(even) {
  background-color: #f2f2f2;
}

#lessons tr:hover {
  background-color: #ddd;
}

#lessons th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}
th button.ascending::after {
  content: "👇";
  display: inline-block;
  margin-left: 1em;
}

th button.descending::after {
  content: "☝️";
  display: inline-block;
  margin-left: 1em;
}

/* table a {
  display: none;
}
table tr:hover a {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
} */
